
.navbar{
       margin: 0%;
       padding: 0%;
       top: 0%;
    width: 100%;
    position: fixed;
    //border-bottom:1px solid $menu;
    background-color:$menu;
    overflow: auto;
.boxmenu{
    float: right;
  	position: relative;
  	left: -50%; /* or right 50% */
    ul{
        list-style-type: none;
        overflow: hidden;
        position: relative;
        left: 50%;    
        li{
            float: left;
            a{
                text-decoration: none;
                text-align: center;
                padding: 1.2em 1.5em;
                display: block;
                color: $font;
            }
            a:hover:not(.active){
                background-color: $hover;
                color: $fonthover;
            }
            .active{
                background-color:$fonthover;
            }
            .iconnavbar{
                display: none;
            }
            .dropdown{
                ul{
                    list-style-type: none;
                    display: none;
                    background-color: $menu;
                    left: auto;
                    position: fixed;
                    overflow: auto;
                    li{
                        float: none;
                        a{
                            color: $font;
                            padding: 1.1em 1em;
                        }
                        a:hover{
                            color: $fonthover;
                            background-color: $hover;
                        }
                    }
                }
            }
            .dropdown:hover{
                .dropdown-menu{
                    display: block;
                }
            }
           
        }
        .icon{
            padding: 0px 10px;
            .logo{
                width:3.1em;
                margin-top: 2.5%;
                cursor: pointer;
                padding-right: 1.5em;
            }
        }
        
        
        
              
    }

}
}

@media screen and (max-width:768px){
    .navbar{
        .boxmenu{
            width: 100%;
            left: 0;
            float: none;
            
            ul{
                width: 100%;
                left: 0;
                text-align: center;
                li:not(:first-child){
                    width: 100%;
                    float: none;
                    a {display: none;}
                    .iconnavbar {
                        float:  right;
                        display: block;
                        font-size: 0.7em;
                        .fa-bars{
                            font-size: 3em;
                        }
                    } 
                    .changemode{
                        display: none;
                    }
                }
                .icon{
                    .logo{
                        margin-top:0.5%;
                        width:3.3em;
                        cursor: pointer;
                        position: absolute;
                    }
                }
                
                        
            }
            
        }
        
    }
 }

 
    .navbar{
        .boxmenu{
            .responsive {position: relative;}
            .responsive {
                .iconbar{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                li:not(:first-child){
                    a {display: block;} 
                }
                li:first-child{
                    float: none;
                    text-align: left;
                    //margin-bottom: 10%;
                     @media screen and (max-width: 768px) {
                        margin-bottom: 10%;
                    }
                    @media screen and (max-width: 425px) {
                        margin-bottom: 16%;
                    }
                    @media screen and (max-width: 375px) {
                        margin-bottom: 18%;
                    }
                    @media screen and (max-width: 320px) {
                        margin-bottom: 20%;
                    }
                }
            
            }
            .responsive {
                li{
                    a{
                        float: none;
                        text-align: left;
                    }
                    .iconnavbar {
                        float: right;
                        display: block;
                        font-size: 0.7em;
                        .fa-bars{
                            font-size: 3em;
                        }
                    } 
                }
            
            }
        }
    }
